<div class="whitespace-nowrap gap-1">
<% html_id = "batch-checkbox-#{value.to_s.gsub(/[^a-z0-9]+/, "-")}" %>
<input type="checkbox" name="batch[]" value="<%= value %>" id="<%= html_id %>">
<label for="<%= html_id %>"><%= value %></label>
</div>
