<header class="flex justify-between content-end">
  <h1 class="text-xl">
    <%= controls.title %>
  </h1>
  <div>
    <% controls.collection_actions(action: current_action).each do |link| %>
      <%= link.to_s(
        default_options: {
          class: "super-button super-button--border-blue super-button-sm inline-block ml-2"
        },
        params: params
      ) %>
    <% end %>
  </div>
</header>
