<header class="flex justify-between content-end">
  <h1 class="text-xl">
    <%= title %>
  </h1>
  <div class="flex gap-2">
    <% resolved_collection_actions.each do |link| %>
      <%= super_render(
        link,
        default_options: {
          class: "super-button super-button--border-blue super-button-sm inline-block"
        }
      ) %>
    <% end %>
  </div>
</header>
<%= yield if block_given? %>
