<div class="super-field-group">
  <%= form.fields_for(filter_type_text.field_name, filter_type_text) do |form_field| %>
    <%= form_field.label(:q, filter_type_text.humanized_field_name) %>
    <div class="relative inline-block">
      <%= form_field.super.select(
        :op,
        filter_type_text.operators,
        { include_blank: false }
      ) %>
    </div>
    <%= form_field.super.text_field(
      :q,
      class: "mt-3"
    ) %>
  <% end %>
</div>
