<%= form_for(Super.configuration.path_parts(resource)) do |f| %>
  <% columns.each do |column| %>
    <%= render "form_field", f: f, resource: resource, column: column %>
  <% end %>
  <div>
    <%= f.submit class: "bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded mt-2" %>
  </div>
<% end %>
