<% if form.object %>
  <% Super::Form::InlineErrors.error_messages(form.object, column).each do |error_message| %>
    <p class="text-red-400 text-xs italic pt-1"><%= error_message %></p>
  <% end %>
<% else %>
  <p class="text-red-400 text-xs italic pt-1">
    This form doesn't have an object, so something is probably wrong.
    Maybe <code>accepts_nested_attributes_for</code> isn't set up?
  </p>
<% end %>
