<% if !local_assigns[:ungrouped] %>
  <div class="super-field-group">
<% end %>
  <% if !local_assigns[:hide_label] %>
    <%= form.label(column, class: "block") %>
  <% end %>
  <div class="<%= Super::ViewHelper.classes(["mt-1", !local_assigns[:hide_label]]) %>">
    <%= form.public_send(
      local_assigns.fetch(:form_builder_method),
      column,
      class: "super-input w-full"
    ) %>
    <% if !local_assigns[:hide_form_inline_errors] %>
      <%= render "form_inline_errors", form: form, column: column %>
    <% end %>
  </div>
<% if !local_assigns[:ungrouped] %>
  </div>
<% end %>
