<%= super_form_for(form_record(@record), url: form_action(@record)) do |f| %>
  <div class="max-w-3xl">
    <% form.each_attribute do |field, type| %>
      <%= super_render(
        type,
        form: f,
        column: field
      ) %>
    <% end %>

    <div>
      <%= f.super.submit class: "super-button--fill-blue mt-2" %>
    </div>
  </div>
<% end %>
