<header class="flex justify-between content-end">
  <h1 class="text-xl">
    <%= title %>
  </h1>
  <div>
    <% resolved_member_actions(@record).each do |link| %>
      <%= render(
        link,
        default_options: {
          class: "super-button super-button--border-blue super-button-sm inline-block ml-2"
        }
      ) %>
    <% end %>
  </div>
</header>
<%= yield if block_given? %>
