<header class="flex justify-between content-end">
  <h1 class="text-xl">
    <%= controls.title %>
  </h1>
  <div>
    <% controls.resources_actions(params: params, action: action_inquirer).each do |link| %>
      <%= link_to(
        link.text,
        link.href,
        link.options.reverse_merge(
          class: "super-button super-button--border-blue super-button-sm inline-block ml-2"
        )
      ) %>
    <% end %>
  </div>
</header>
