<% schema = controls.display_schema(action: action_inquirer) %>

<table class="max-w-full leading-loose mt-4">
  <% schema.field_keys.each do |column| %>
    <tr>
      <th class="text-right px-4"><%= column.to_s.humanize %></th>
      <td><%= Super::Display.format(schema, @resource, column) %></td>
    </tr>
  <% end %>
</table>
