<div class="mt-4 -mx-5 overflow-x-auto">
  <table class="w-full">
    <thead>
      <tr class="text-left text-sm uppercase font-bold tracking-wide">
        <% super_schema_display_index.field_keys.each do |column| %>
          <th class="p-2 first:pl-5 last:pr-5"><%= column.to_s.humanize %></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="border-gray-400 border-solid border-t-2">
      <% @resources.each do |resource| %>
        <tr id="resource-pk-<%= resource.id %>" class="border-b border-gray-400">
          <% super_schema_display_index.field_keys.each do |column| %>
            <td class="p-2 first:pl-5 last:pr-5"><%= super_format_for_display(super_schema_display_index, resource, column) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @pagination.necessary? %>
  <div class="flex justify-end mr-2">
    <div class="mt-4">
      <% @pagination.each do |page_query_params, is_current_page, display| %>
        <%= link_to(
          display,
          polymorphic_path(
            Super.configuration.path_parts(controls.model),
            page_query_params
          ),
          class: "inline-block ml-2 text-lg #{is_current_page ? " text-gray-900" : ""}"
        ) %>
      <% end %>
    </div>
  </div>
<% end %>
