<%= super_form_for(Super.configuration.path_parts(@record), builder: Super::Form::Builder) do |f| %>
  <div class="max-w-3xl">
    <% super_schema_form.each_attribute do |field, type| %>
      <%= render(
        type,
        form: f,
        column: field
      ) %>
    <% end %>

    <div>
      <%= f.submit class: "super-button super-button--fill-blue mt-2" %>
    </div>
  </div>
<% end %>
