<h1 class="text-3xl"><%= controls.title %></h1>

<table class="max-w-full leading-loose mt-4">
  <% controls.display_schema(action: action_inquirer).field_keys.each do |column| %>
    <tr>
      <th class="text-right px-4"><%= column.to_s.humanize %></th>
      <td><%= Super::Display.format(controls.display_schema(action: action_inquirer), @resource, column) %></td>
    </tr>
  <% end %>
</table>
