<h1 class="text-3xl"><%= controls.title %></h1>

<table class="max-w-full leading-loose mt-4">
  <% controls.show_columns.each do |column| %>
    <tr>
      <th class="text-right px-4"><%= column.to_s.humanize %></th>
      <td><%= @resource.public_send(column).inspect %></td>
    </tr>
  <% end %>
</table>
