<% wrap_with_configured_module do -%>
class <%= class_name.pluralize %>Controller < <%= parent_controller_name %>
  private

  def new_controls
    Controls.new
  end

  class Controls
    def model
      <%= class_name %>
    end
  end
end
<% end -%>
