.feather {
  height: auto;
  max-width: 100%;
}

.super-input {
  @apply py-2 leading-tight px-2;
  @apply appearance-none border rounded shadow-sm;
  @apply bg-white text-gray-900 border-gray-400;
}
.super-input:focus {
  @apply border-blue-400 outline-none;
}
.super-input:disabled {
  @apply opacity-50;
  @apply bg-gray-100;
}

.super-input-select {
  @apply w-full pr-8;
  @apply bg-no-repeat;
  background-image: svg-load('../icons/feather/chevron-down.svg', stroke=#2b6cb0);
  background-position: right 0.5rem center;
}

.super-button {
  @apply py-2 leading-tight px-3;
  @apply border border-transparent rounded shadow;
  @apply transition duration-150;
}

.super-button-sm {
  @apply text-sm leading-none px-2;
}

.super-button--border-blue {
  @apply bg-white text-blue-700 border-blue-700;
}
.super-button--border-blue:hover {
  @apply bg-blue-700 text-white;
}

.super-button--border-gray {
  @apply bg-white text-gray-700 border-gray-500;
}
.super-button--border-gray:hover {
  @apply bg-gray-700 text-white border-gray-700;
}

.super-button--fill-blue {
  @apply text-white;
  @apply bg-blue-700 border-blue-700;
}
.super-button--fill-blue:hover {
  @apply bg-blue-800 border-blue-800;
}

.super-field-group {
  @apply mt-4;
}

/*
 * https://github.com/primer/css/blob/882901737f29b73985bf899be2059406ac4fd6fa/src/utilities/details.scss#L22-L29
 * Copyright (c) 2021 GitHub Inc.
 * MIT License
 */
.details-reset > summary { list-style: none; }
.details-reset > summary::before { display: none; }
.details-reset > summary::-webkit-details-marker { display: none; }
